.panel {
  color: darkgreen;
  display: none;
}
body  {
  background-image: url("https://cdn.hipwallpaper.com/i/44/77/4DGP2X.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
  color: white;
  text-shadow:  2px 2px 8px rgb(32, 32, 32);
}
h1  {
  color: rgb(208, 255, 0);
  font-size: 4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow:  2px 2px 8px rgb(32, 32, 32);
}
h3  {
  color: white;
  text-shadow:  2px 2px 8px rgb(32, 32, 32);
}
h6{
  font-family: cursive;
  color: white;
  font-weight: bold;
}
.form-group {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.6em;
  color: whitesmoke;
  text-shadow:  2px 2px 8px rgb(0, 0, 0);
}
select  {
  color: black;
}
button  {
  color: black;
  box-shadow: 1px 2px 3px rgb(85, 85, 85);
}
